<template>
  <div id="Ventas" class="ventas">
    <div class="container_ventas">
      <h2>Realizar Ventas</h2>
      <form v-on:submit.prevent="processVentas">
        <input
          type="number"
          v-model="createVentas.cantidad"
          placeholder="Cantidad"
        />
        <input
          type="number"
          v-model="createVentas.preciototal"
          placeholder="Precio"
        />
        <br />
        <button type="submit">Realizar Venta</button>
      </form>
    </div>
  </div>
</template>

<script>
import gql from "graphql-tag";
export default {
  name: "Ventas",
  data: function() {
    return {
      createVentas: {
        username: localStorage.getItem("username"),
        cantidad: "",
        preciototal: "",
      },
    };
  },
  methods: {
    processVentas: async function() {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }
      localStorage.setItem("token_access", "");
      await this.$apollo
        .mutate({
          mutation: gql`
            mutation($refresh: String!) {
              refreshToken(refresh: $refresh) {
                access
              }
            }
          `,
          variables: {
            refresh: localStorage.getItem("token_refresh"),
          },
        })
        .then((result) => {
          localStorage.setItem("token_access", result.data.refreshToken.access);
        })
        .catch((error) => {
          this.$emit("logOut");
          return;
        });
      await this.$apollo
        .mutate({
          mutation: gql`
            mutation($ventas: VentasInput!) {
              createVentas(ventas: $ventas) {
                lastChange
                id
                nombre
                cantidad
                precio
              }
            }
          `,
          variables: {
            ventas: this.createVentas,
          },
        })
        .then((result) => {
          alert("Venta Realizada de Manera Correcta, Revise Historial");
        })
        .catch((error) => {
          alert("Datos Incorrectos");
        });
    },
  },
};
</script>

<style>
.ventas {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_ventas {
  border: 3px solid #283747;
  border-radius: 10px;
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ventas h2 {
  color: #283747;
}
.ventas form {
  width: 50%;
}
.ventas input {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;
  border: 1px solid #283747;
}
.ventas button {
  width: 100%;
  height: 40px;
  color: #e5e7e9;
  background: #283747;
  border: 1px solid #e5e7e9;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0;
}
.ventas button:hover {
  color: #e5e7e9;
  background: crimson;
  border: 1px solid #283747;
}
</style>
